<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin-landing.css">
    <title>Admin Landing Page</title>
</head>
<body>
    <h2>Admin Landing Page</h2>
    <div class="options">
        <div class="option">
            <a href="/enter-art">Add New Art</a>
            <p>Input new art into the online database.</p>
        </div>
        
        <div class="option">
            <a href="/admin-manage">Manage All Art</a>
            <p>Manage all the artwork in the database. You can edit information about pieces or delete them altogether.</p>
        </div>
        
        <div class="option">
            <a href="/manage-gallery=62c9ec94f19be16e29fd70f9">Manage Gallery 1</a>
            <p>Curate the pieces showcased inside Gallery 1 of the Virtual Museum.</p>
        </div>
        
        <div class="option">
            <a href="/manage-gallery=62c9ed2ef19be16e29fd70fa">Manage Gallery 2</a>
            <p>Curate the pieces showcased inside Gallery 2 of the Virtual Museum.</p>
        </div>
    </div>
    
</body>
</html>