<!-- This will show admin all artwork in database and they can click on them to edit them -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin.css">
    <title>Manage All Art</title>
</head>
<body>

    <div class="page">

        <h2>Manage All Art</h2>
        <p>Click on each piece of art below to edit its details or delete the artwork from the database entirely.</p>
        <div class="return"><a href="/admin">Return to Admin Landing Page</a></div>

        <div class="all-art">
            <% art.forEach((piece) => { %>
                <div class="image-box">
                    <a href="/edit-art=<%= piece._id %>">
                    <img src="/images/uploads/<%= piece.filename %>">
                    </a>
                    <p class="title"><%= piece.title %></p>
                    <p class="artist"><%= piece.artistname %></p>
                </div>
            <% }) %>
            <div class="filling-space"></div>
            <div class="filling-space"></div>
            <div class="filling-space"></div>
        </div>

    </div>
    
</body>
</html>