<!-- Form for new submissions -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/forms.css">
    <title>Add Art</title>
</head>
<body>
    <div class="addart">
        <h2>Add New Art</h2>
        <form action="/submit-art" enctype="multipart/form-data" method="post">
            <div class="center-text"><label for="artistname">Artist Name</label></div>
            <input name="artistname" type="text">
            
            <div class="center-text"><label for="title">Title of piece</label></div>
            <input name="title" type="text">
            
            <div class="center-text"><label for="date">Date of Completion</label></div>
            <input name="date" type="text">
            
            <div class="center-text"><label for="med">Medium of Art</label></div>
            <input name="med" type="text">
            
            <div class="center-text"><label for="statement">Artist Statement</label></div>
            <textarea name="statement" type="text"></textarea>
            
            <div class="center-text"><label for="filename">Upload Picture of Art</label></div>
            <div class="center-text" id="last"><p>Note: Please crop your image of the artwork using </p><a href="https://onlinephotoscanner.com/">this website</a><p>.</p></div>
            <input name="image" type="file" accept="image/jpg, image/png">
            
            <input id = "submit" type="submit" value="Add to Database">
        </form>

        <div class="return"><a href="/admin">Return to Admin Landing Page</a></div>
    </div>
</body>
</html>