<!-- This page shows confirmation after a form is submitted, it should send back to form or home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/forms.css">
    <title>Entry Result</title>
</head>
<body>
    <div class="confirmation">
        <h2>Entry Result</h2>

        <div class="message">
            <% if(result.acknowledged && file_result.acknowledged) { %>
                <p>Your entry was successfully uploaded to the database!</p>
            <% } else { %>
                <p>Oh no! It looks like something went wrong. We were not able to add your entry to the database. Please try again. </p>
            <% } %>
        </div>


        <div class="return"><a href="/admin">Return to the Admin Landing Page</a></div>
        <div class="return"><a href="/enter-art">Add Another Piece to the Database</a></div>

    </div>
</body>
</html>