<!-- This page shows confirmation after a form is submitted, it should send back to form or home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Result</title>
</head>
<body>
    <p>Data Success?</p>
    <p><%= result.acknowledged %></p>
    <br>
    <p>File Success?</p>
    <p><%= file_result.acknowledged %></p>
</body>
</html>