<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <title>Galleries</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>

    <h2>Hidden</h2>

    <h1>Galleries</h1>
    <p class="description">We are currently showing three galleries. Read more about each of them below. Enjoy your browsing! <em>Note: For the best experience, we recommend visiting these galleries on your computer at full screen. </em></p>
    
    <div class="galleries">
        <div class="gallery">
            <img src="images/gallery1.png" alt="Image of gallery 1">
            <h2><%= galData[0].galleryname %></h2>
            <p class="galDesc"><%= galData[0].gallerydesc %></p> </p> -->
            <a href="/gallery1">Visit Gallery</a>
        </div>

        <div class="gallery">
            <img src="images/gallery2.png" alt="Image of gallery 2">
            <h2><%= galData[1].galleryname %></h2>
            <p  class="galDesc"><%= galData[1].gallerydesc %></p>
            <!-- This will eventually be replaced by a description they provide -->
            <a href="/gallery2">Visit Gallery</a>
        </div>

        <div class="gallery">
            <img src="images/gallery3Cover.PNG" alt="Image of gallery 3">
            <h2>Special Gallery</h2>
            <p class="first">This is a dynamic gallery that features all the artwork we've ever collected. It will undoubtedly be unlike anything you've ever seen before!</p>
            <p class="second"><em>Note: Your position in this gallery will be fixed. You will not be able to move around. </em></p>
            <a href="/gallery3">Visit Gallery</a>
        </div>

        <div class="filling-space"></div>
    </div>

</body>