<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <title>Galleries</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>

    <h2>Hidden</h2>

    <h1>Galleries</h1>
    <p class="description">We are currently showing three galleries. Read more about each of them below. Enjoy your browsing!</p>
    
    <div class="galleries">
        <div class="gallery">
            <img src="images/gallery1.png" alt="Image of gallery 1">
            <h2>The Michael Montayne Collection</h2>
            <p>Michael Montayne is known for his beautiful, abstract pieces. Fiercely colorful, his work is bound to evoke emotion. </p>
            <!-- This will eventually be replaced by a description they provide -->
            <a href="/gallery1">Visit Gallery</a>
        </div>

        <div class="gallery">
            <img src="images/temp.png" alt="Image of gallery 2">
            <h2>Art During the Pandemic</h2>
            <p>Our Pandemic Collection features work from a variety of our artists. Though different, their pieces complement each other and together paint a picture of the pandemic experience. </p>
            <!-- This will eventually be replaced by a description they provide -->
            <a href="/gallery2">Visit Gallery</a>
        </div>

        <div class="gallery">
            <img src="images/temp.png" alt="Image of gallery 3">
            <h2>Special Gallery</h2>
            <p>This is a dynamic gallery that features all the artwork we've ever collected. It will undoubtedly be unlike anything you've ever seen before!</p>
            <a href="/galleries">Visit Gallery</a>
        </div>

        <div class="filling-space"></div>
    </div>

</body>