<!-- consumer landing page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <title>Coler Hospital Virtual Museum</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/galleries">Virtual Museum</a></li>
            <li><a href="">Admin</a></li>
        </ul>
    </nav>

    <h2>Coler Hospital Virtual Museum</h2>
    <div class="home-descrip">
        <p>Welcome! This is the Coler Hospital Virtual Museum, where we have digitized the artwork of our talented patients. We are currently featuring the xxx collection. Enjoy your browsing.</p>
    </div>

    <div class="home-gallery">
        <img src="images/temp.jpg" alt="Image of the virtual museum">
        <a href="/galleries">Visit Our Virtual Gallery</a>
    </div>


</body>
</html>