<!-- consumer landing page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <title>Coler Hospital Virtual Museum</title>
</head>
<body>

    <div class="home-gallery">
        <h2>Coler Hospital Virtual Museum</h2>
        <img src="images/temp.png" alt="Image of the virtual museum">
        <a href="/galleries">Visit Galleries</a>
    </div>

    <div class="home-descrip">
        <h2>Welcome!</h2>
        <p>This is the Coler Hospital Virtual Museum, where we have digitized the artwork of our talented patients. Our recreation therapists engage our interested patients in art sessions every Tuesday, though our most dedicated artists work on their pieces every day! </p>
        <p>Our museum is currently featuring exhibits titled <strong><%= galleries[0].galleryname %></strong> and <strong><%= galleries[1].galleryname %></strong>. We hope you enjoy your browsing.</p>
        <!-- <p>Our museum is currently featuring the <strong>xxx collection</strong>. We hope you enjoy your browsing.</p> -->

        <div class="footer">
            <a href="/login">Admin Log In</a> <p>|</p>
            <a href="https://www.nychealthandhospitals.org/coler/">Coler Hospital</a>
        </div>
    </div>

</body>
</html>