<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/forms.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Log In</title>
</head>
<body class="loginbody">
    <div class="login">
        <h2>Admin Login</h2>

        <p id="login-message"><%= message %></p>

        <form action="/login" method="POST">
            <div class="center-text"><label for="username">Username</label></div>
            <input type="text" name="username">

            <div class="center-text"><label for="password">Password</label></div>
            <input type="password" name="password">

            <input id="submit" type="submit" value="Log In">
        </form>

        <div class="return">
            <p>Not admin? </p><a href="/">Return to the home page</a><p>.</p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(() => {
                $("#login-message").fadeOut();
            }, 5000);
        });
    </script>
    
</body>
</html>