<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/manageGallery.css">
    <title>Manage Gallery <%= galNum %></title>
</head>
<body>
    <p>Manage Gallery <%= galNum %></p>
    <br>
    <% var thisArt %>
    <% gallery.forEach(loc => { %>
        <div class="location-box">
            <p><%= loc.name %></p>
            <% thisArt = art.find((piece) => piece._id == loc.art_id) %>
            <img class="box-image" src="/images/uploads/<%= thisArt.filename %>" >
        </div>
    <% }) %>

    <script type="text/javascript">
        
    </script>
</body>
</html>