<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <title>Gallery</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>

    <h2>Hidden</h2>

    <h1>Coler Hospital Gallery</h1>

    <% results.forEach((result) => { %>
        <div class="img">
            <img src="/get-art/<%= result.filename %>">
            <div class="descrip">
                <p><%= result.title %></p>
                <p><em><%= result.artistname %>, <%= result.date %></em></p>
            </div>
        </div>
     <% }) %>
    
</body>
</html>