body {
    font-family: 'Times New Roman',Times, serif;
    margin-top: 0;
}


.login, .addart, .edit-art, .confirmation {
    /* text-align: center; */
    border: 5px solid #45629f;
    max-width: 600px;
    margin: auto;
    padding-bottom: 30px;
    background-color: white;
    margin-top: 20px;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    border: solid 2px #45629f;
    margin-left: 50px;
    margin-right: 50px;
}

.loginbody {
    background-image: url(/images/LoginBG.jpg);
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
}

input, textarea {
    height: 30px;
    width: 300px;
}

.center-text {
    width: 308px;
    padding-bottom: 5px;
}

.center-text p, .center-text a {
    display: inline;
}

#last {
    margin-bottom: 10px;
    font-style: italic;
}

.login input {
    margin-bottom: 12px;
}

label {
    margin: 5px;
    margin-left: 0px;
}

input, textarea {
    font-family: 'Times New Roman',Times, serif;
    font-size: 14px;
    margin-bottom: 12px;
}

.message {
    text-align: center;
}

.return p, .return a {
    display: inline;
}

.return {
    padding-top: 10px;
    text-align: center;
}

a {
    color: #1167b1;
    text-decoration: none;
    border-bottom: solid 2px #1167b1;
}

a:hover {
    color: #27458b;
    border-bottom: solid 2px #27458b;
}

#submit, #delete {
    width: 315px;
    height: 40px;
    border-radius: 2em;
    background-color: #1167b1;
    color: white;
    border: none;
    font-family: 'Times New Roman',Times, serif;
    font-size: 16px;
}

#delete {
    background-color: #bb0a1e;
}

#delete:hover {
    cursor: pointer;
    background-color: #8b0000;
    transition: 0.5s;
}

.addart #submit {
    margin-bottom: 10px;
}

/* #8499c1, #45629f */
#submit:hover {
    cursor: pointer;
    background-color: #27458b;
    transition: 0.5s;
}




