body {
    background-color: #191919;
    font-family: 'Times New Roman',Times, serif;
    font-size: 18px;
    margin: 0;
}

/* coler blue:#20448c, dark blue: #152238, black: #302c2c, white: #fffff4, dark gray nav: #2f2f2f */

nav ul {
    padding: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #191919;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #d2b374;
}

ul {
    margin: none;
    margin-block-end: 0;
}

nav ul li {
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
}

nav ul li a {
  display: block;
  padding: .25em .5em;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* yellowish white: #fef2c4 */

a:hover {
    color: #d2b374;
    transition: 0.5s;
}

img {
    border: 50px solid transparent;
    width: 200px;
    height: auto;
    border-image: url(/images/frame.png);
    border-image-slice: 135;
    display: block;
    margin: auto;
}

.descrip p {
    text-align: center;
    color: #d2b374;
    padding: 0;
    margin: 0;
}

.img {
    align-items: center;
}

h1, h2, p {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
/* #f5f5dd */

h1 {
    margin-bottom: 0px;
}

h1, h2 {
    text-align: center;  
    font-weight: 100;
}

.home-gallery img {
    flex-grow: 1;
    border: none;
}

.home-gallery {
    position: relative;
    display: flex;
}

.home-descrip {
    position: absolute;
}

.home-gallery h2 {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    font-size: 72px;
    font-weight: 400;
    color: white;
    padding: 10px;
}

.home-gallery a {
    position: absolute;
    top: 70%;
    left: 40%;
    right: 40%;
    background-color: white;
    color: #191919;
    font-family: 'Times New Roman',Times, serif;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    transition: 0.5s;
}

.home-gallery a:hover {
    color: white;
    background-color: #191919;
    transition: 0.5s;
}

.home-descrip {
    max-width: 800px;
    margin: auto;
    left: 10%;
    right: 10%;
    padding-bottom: 60px;
}

.footer {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.footer p, .footer a {
    display: inline-block;
    color: white;
}

.footer a {
    text-decoration: none;
    border-bottom: white solid 2px;
}

.footer a:hover, .gallery a:hover {
    transition: 0.5s;
    border-bottom: #d2b374 solid 2px;
}

@media (max-width: 800px) {
    .home-gallery a {
        font-size: 14px;
        padding: 4px;
        top: 65%;
        left: 35%;
        right: 35%;
    }
    .home-gallery h2 {
        font-size: 28px;
        top: 20%;
    }
}

.galleries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery {
    width: 400px;
    height: 450px;
    border: solid 2px #d2b374;
    margin: 10px;
    position: relative;
}

.gallery img {
    width: 350px;
    height: auto;
    max-height: 300px;
    border: none;
}

.gallery a {
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 38%;
    color: white;
    border-bottom: solid 2px white;
}

.filling-space {
    width: 400px;
    height: 0px;
    margin:10px;
    border: solid 2px #191919;
}

.description {
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}