body {
    background-color: #191919;
    font-family: 'Times New Roman',Times, serif;
    font-size:18px;
}

/* coler blue:#20448c, dark blue: #152238, black: #302c2c, white: #fffff4 */

nav ul {
    margin-top: 10;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: white;
}

nav ul li {
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
}

nav ul li a {
  display: block;
  padding: .25em .5em;
  color: #fef2c4;
  text-decoration: none;
}

a:hover {
    color: #d2b374;
}

img {
    border: 50px solid transparent;
    width: 200px;
    height: auto;
    border-image: url(/images/frame.png);
    border-image-slice: 140;
    display: block;
    margin: auto;
}

.descrip p {
    text-align: center;
    color: #d2b374;
    padding: 0;
    margin: 0;
}

.plant-img {
    align-items: center;
}

h1, p {
    color: #fef2c4;
}
/* #f5f5dd */

h1 {
    text-align: center;  
}

