body {
    background-color: #191919;
    font-family: 'Times New Roman',Times, serif;
    font-size: 18px;
    margin: 0;
}

/* coler blue:#20448c, dark blue: #152238, black: #302c2c, white: #fffff4 */

nav ul {
    padding: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #2f2f2f;
}

nav ul li {
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
}

nav ul li a {
  display: block;
  padding: .25em .5em;
  color: #fef2c4;
  text-decoration: none;
}

a:hover {
    color: #d2b374;
}

img {
    border: 50px solid transparent;
    width: 200px;
    height: auto;
    border-image: url(/images/frame.png);
    border-image-slice: 135;
    display: block;
    margin: auto;
}

.descrip p {
    text-align: center;
    color: #d2b374;
    padding: 0;
    margin: 0;
}

.plant-img {
    align-items: center;
}

h2, p {
    color: #fef2c4;
    margin: 10px;
}
/* #f5f5dd */

h2 {
    text-align: center;  
}

.home-gallery img {
    max-width: 800px;
    flex-grow: 1;
}

.home-gallery {
    position: relative;
    display: flex;
}

.home-gallery a {
    position: absolute;
    top: 70%;
    left: 35%;
    right: 35%;
    background-color: #191919;
    color: #fef2c4;
    font-family: 'Times New Roman',Times, serif;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    border: #fef2c4 double 3px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

.home-gallery a:hover {
    color: #d2b374;
    font-weight: 700;
    border: #d2b374 double 3px;
}

.home-descrip {
    max-width: 600px;
    margin: auto;
}

@media (max-width: 650px) {
    .home-gallery a {
        font-size: 14px;
        padding: 4px;
        top: 65%;
        left: 30%;
        right: 30%;
    }
}